@use '../util';
@use '../globals';

.header {
  background-color: globals.$main;
  max-height: util.rem(100);
  position: relative;

  @include util.breakpoint(medium) {
    max-height: util.rem(200);
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: util.rem(11) 0;
  }

  &__contact {
    background-color: globals.$white;
    padding: 2px 0;
  }

  &__contact-image-container {
    display: flex;
    align-items: center;
  }

  &__contact-image {
    margin-right: util.rem(5);
  }

  &__contact-content {
    font-size: util.rem(12);
  }

  &__contact-info {
    font-size: util.rem(12);
    color: globals.$darkGray;
  }

  &__contact-body {
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  position: absolute;
  inset: 0;
  top: 100px;
  height: calc(100vh - 100px);
  overflow: hidden;
  transition: all 0.5s linear;
  z-index: -1;

  @include util.breakpoint(medium) {
    height: auto;
    top: 0;
    position: relative;
    z-index: 0;
  }

  &--active {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__logo {
    max-width: util.rem(65);
    width: 100%;

    @include util.breakpoint(medium) {
      max-width: util.rem(88);
    }
  }

  &__list {
    border-top: 1px solid globals.$darkGray;
    padding-top: util.rem(50);
    position: relative;
    top: 0;
    right: -100%;
    background: globals.$white;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    @include util.breakpoint(medium) {
      flex-direction: row;
      right: 0;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 100%;
      border: none;
      background-color: transparent;
    }

    &--active {
      right: calc(80% - 100vw);
    }
  }
  &__social-media {
    width: 55%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 45px;
    padding: 25px;
    border-top: 1px solid #000;
  }

  &__social-media-container {
    width: 24px;
  }

  &__item {
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    &:last-child {
      display: none;
    }

    &--btn {
      background-color: globals.$main;
      width: 75%;
      margin: util.rem(30) auto 0;
      transition: background 0.5s ease;

      @include util.breakpoint(medium) {
        margin: 0;
        width: auto;
        background-color: globals.$white;

        &:hover {
          background-color: globals.$mainDarker;
        }
      }
    }
  }

  &__link {
    display: block;
    font-size: util.rem(24);
    padding: util.rem(10) 0;
    color: globals.$darkGray;
    transition: all 0.5s ease;

    @include util.breakpoint(medium) {
      padding: 8px 15px;
      &:hover {
        color: white;
      }
    }

    &--btn {
      color: globals.$white;

      @include util.breakpoint(medium) {
        color: globals.$darkGray;
      }
    }
  }
}

.nav__toggle-btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include util.breakpoint(medium) {
    display: none;
  }
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: globals.$darkGray;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.nav__toggle-btn--animation .top {
  stroke-dasharray: 40 139;
}
.nav__toggle-btn--animation .bottom {
  stroke-dasharray: 40 180;
}
.nav__toggle-btn--animation.active .top {
  stroke-dashoffset: -98px;
}
.nav__toggle-btn--animation.active .bottom {
  stroke-dashoffset: -138px;
}
