@use './fonts';
@use '../util';
* {
  margin: 0;
  padding: 0;
  font-family: fonts.$font;
  font-weight: 500;
}

ul,
ol,
dl {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
}

.wrapper {
  max-width: util.rem(300);
  width: 100%;
  margin: 0 auto;
}
